<h2>Lists > <%= @list.name %></h2>

<% @bookmarks.each do |bookmark| %>
  <%= bookmark.comment %>  | <%= link_to "Delete", bookmark_path(bookmark["id"]), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
