<div class="movies">
  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie), class: "text-decoration-none" do%>
      <div class="movie-card" style="background-image: url(https://image.tmdb.org/t/p/original/<%= movie.poster_url %>)">
        <p class="movie-link"><%= movie.title %></p>
      </div>
    <% end %>
  <% end %>
</div>
